# Core
numpy
pandas
libsumo

# GUI & Plotting
matplotlib
scipy
shapely
networkx

# Reinforcement Learning
gymnasium
stable-baselines3
shimmy>=2.0.0
tensorboard
torch
onnx
onnxscript
torchvision

# Logging
wandb
